{% extends 'base.html.twig'%}

{% block body %}

    <h1 class="mega pal">Connexion</h1>


    <form  class="form-group center w50" action="{{path('security_login')}}" method="post">
    

            <input placeholder="Adresse email" required type="text" name="_username" class="center mbm tc block">
        
            <input placeholder="Mot de passe" required type="password" name="_password" class="center mbl tc block">
        
            <button type="submit" class="center bold mbl tc medium">Je me connecte</button>

    </form>

{% endblock %}
